CREATE TABLE referral_agents (
    id integer NOT NULL DEFAULT nextval('referral_agents_id_seq'::regclass),
    name character varying(255) NOT NULL,
    mobile character varying(20) NOT NULL,
    company character varying(255),
    role character varying(100),
    remarks text,
    email character varying(255),
    status character varying(50) DEFAULT 'Active'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    created_by character varying(255),
    tenant_id integer,
    bank_name character varying(255),
    bank_branch character varying(255),
    bank_account_number character varying(100),
    bank_ifsc_code character varying(50),
    pan_card_number character varying(255),
    pan_upload_path character varying(500),
    referral_patient_commission numeric DEFAULT 0,
    referral_doc_commission numeric DEFAULT 0,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);
